// Main Colors

$primary-color: rgba(245, 246, 252);
$accent-color: rgba(254, 143, 28);

// Background Colors

$background-color: rgb(102, 19, 208);
$background-glass-color: rgba(0, 8, 78, 0.418);
$background-header-color: rgba(23, 0, 77, 0.938);

// Fonts Colors

$text-primaryColor: rgb(255, 255, 255);
$text-secundaryColor: rgb(89, 85, 137);

// Border Colors

$border-color: rgb(111, 0, 255);
