// Main Colors

$primary-color: rgba(245, 246, 252);
$accent-color: rgba(254, 143, 28);

// Background Colors

$background-color: rgb(102, 19, 208);
$background-glass-color: rgba(102, 19, 208, 0.418);
$background-header-color: rgba(102, 19, 208, 0.938);

// Fonts Colors

$text-color: rgb(255, 255, 255);
$text-secundaryColor: rgb(89, 85, 137);

// Border Colors

$border-color: rgb(111, 0, 255);
